.layout {
  display: flex;
  height: 100%;
}

.sidebar {
  /* min-width: 250px;
  background-color: white;
  padding: 16px;
  box-sizing: content-box; */
  position: fixed;
  height: 100%;
  background-color: white;
  min-width: 250px;
  padding: 16px;
}

.sidebar ul {
  list-style: none;
}
.sidebar ul li {
  position: relative;
}

.link {
  margin-bottom: 6px;
}

.link:hover {
  margin-bottom: 6px;
  background-color: var(--primary-glow);
  border-radius: 4px;
}
.sidebar ul li a {
  display: flex;
  padding: 8px 16px;
  border-radius: 4px;
  align-items: center;
}
.sidebar ul li a span {
  width: 100%;
  padding-left: 12px;
}

.active {
  background-color: #e7e7e7;
  color: #01018d;
  border-radius: 4px;
  margin-bottom: 6px;
}

.active::before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: #01018d;
  left: -14px;
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
